.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Data files
*.rds
*.Rds
*.feather
*.Feather
*.Rdata
*.qs
.httr-oauth

# remake
.remake/

# task plans
**_tasks.yml
shellLog/
.mytmp/
.myvar/
national-data-pulls_v0.0.sif
